{% extends "base.html" %}

{% block styles %}
<style>
.jumbotron {
	text-align: center;
	text-decoration-color: blue;
 }
</style>
{% endblock %}

{% block jumbotron %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1> WELCOME TO Uthink</h1>
        <p>HERE YOU CAN FIND A HUMAN WHO THINKS LIKE YOU, WHO HAVE SAME HABITS AND BODY LANGAUGE.</p>
      </div>    
{%  endblock %}

{% block content %}
<h1>Hello buddy!</h1>
{% endblock %}





